* {
    margin: 0;
    padding: 0;
    --black: #000000;
    --green: #c3ff00;
    --white: #ffffff;
}

/* Website Style */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-image: url("icons-images/bg1.png");
    background-repeat: repeat;
    background-position: center;
    background-color: var(--black);
    animation: background 5s linear infinite;
}

.page-header {
    padding: 5vh 8vw;
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    font-weight: 300%;
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
}

p {
    color: var(--white)
}

@keyframes background {
    0%, 100% {
        background-image: url("icons-images/bg1.png");
    }
    50% {
        background-image: url("icons-images/bg3.png");
    }
}

/* Header and Nav Bar */
.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li a {
    text-decoration: none;
    color: var(--green);
    font-weight: bolder;
}

/* Footer */
footer {
    position: fixed;
    background-color: var(--black);
    width: 100%;
    left: 0;
    bottom: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem; /* space inside footer (left/right)*/
    z-index: 100; /* keeps footer above other elements. higher z-index means it i shown above other elements with a lower z-index. keeps fixed footer on top of content*/
}

.footer-left {
    padding-left: 8vw;
    font-size: 0.7rem;
    color: var(--green);
}

.footer-right {
    padding-right: 15vw;
    display: flex;
    gap: 1rem;
    align-items: center;
}

footer img {
    max-width: 20px;
    height:auto;
}

/* Index/home page*/
#animation-name {
    display: flex;
    color: var(--white);
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh; /* Must have height to set center on Y axis */
    animation: index-animation 4s linear infinite;
}

@keyframes index-animation {
    0%, 100% { text-shadow: var(--green) 0 0 10px;
    }
    50% { text-shadow: var(--green) 0 0 100px;
    }
}

/* About Page*/
.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 10vw 2vh 10vw;
    gap: 4vw;
}

.text-card-about {
    flex: 1;
    padding-top: 5vh;
    background-color: var(--black);
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 50vw;
    width: 100%;
}

.img-card {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.img-card img {
    max-width: 450px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: -8px -8px 10px #ff006a, -8px 8px 10px #ffa500, 8px 8px 10px #ffff00, 8px -8px 10px #ffa500, -16px -16px 20px #fd79d3, -16px 16px 20px #d36cff, 16px 16px 20px #55f1ff, 16px -16px 20px #00ffb7;
}

.img-card img:hover {
    animation: about-image 2s linear infinite;
}

@keyframes about-image {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Skills Page */
.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 50%;
}

.skills li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills li img {
    max-width: 50px;
    background-color: var(--white);
    padding: 0.5rem;
    border-radius: 30%;
    box-shadow: 0 0 10px var(--white);
}

.text-card p {
    text-decoration: none;
    color: var(--white);
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    padding-top: 4vh;
}

/* Projects Page */
.project-list a {
    text-decoration: none;
    color: var(--white);
    font-weight: bolder;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 0 0 4vh 10vw;;
}

.project-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    padding: 0 10vw 2vh 10vw;
    margin-bottom: 10vh;
}

.card-project {
    flex: 1;
    background-color: var(--black);
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 50vw;
    width: 100%;
}

.card-project h2 {
    color: var(--white);
    padding-bottom: 4vh;
}

.img-card-project {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.img-card-project img {
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 10px var(--white);
}

/* Contact Page */
.text-card {
    flex: 1;
}

.text-card a {
    text-decoration: none;
    color: var(--white);
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    padding-top: 4vh;
    text-align: center;
}

/* Testimonial Page */
.testimonial-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10vw;
    gap: 5vw;
    min-height: 50vh;
}

.testimonial-cards {
    background-color: var(--black);
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 50vw;
    width: 100%;
}

.testimonial-name {
    color: var(--white);
    font-style: bolder;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

.testimonial-text {
    font-style: italic;
}

/* Tablet Screen Responsiveness */
@media screen and (max-width: 1030px) {
    .navbar {
        font-size: 0.8rem;
    }

    .about-content {
        flex-direction: column-reverse;
        padding: 0vh 10vw 10vh 10vw;
        gap: 8vw;
    }

    .img-card {
        max-width: 300px;
        width: 100%;
        height: auto;
        padding-top: 0;
    }

    .text-card {
        font-size: 0.95rem;
        padding-top: 3vh;
    }

    .text-card-about {
        font-size: 0.95rem;
        padding-right: 0;
        max-width: 90%;
    }

    .page-header {
        letter-spacing: 0.18rem;
        font-size: 2rem;
    }

    #animation-name {
        flex-wrap: wrap;
        font-size: 2rem
    }

    .text-card a {
        padding-top: 8vh;
        display: flex;
        align-items: center;
    }

    .testimonial-container {
        flex-direction: column;
        align-items: center;
        padding: 5vh 10vw;
        gap: 5vh;
    }

    .skills {
        max-width: 100%;
    }

    .project-content {
        flex-direction: column-reverse;
        gap: 8vw;
        padding: 0vh 10vw;
    }
    .img-card-project {
        width: 100%;
        padding-top: 4vh;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .card-project {
        max-width: 90%;
    }
}

/* Mobile Screen Responsiveness */
@media screen and (max-width: 480px) {
    .navbar {
        font-size: 0.6rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .text-card {
        font-size: 0.875rem;
    }

    .footer-left {
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    .footer-right {
        position: static;
    }

    footer img {
        max-width: 16px;
        height:auto;
    }

    .page-header {
        font-size: 1.8rem;
    }

    #animation-name {
        font-size: 1.6rem
    }

    .skills {
        max-width: 100%;
        gap: 1rem;
    }

    .skills li {
        flex: 1 1 80px;
        min-width: 60px;
        margin-bottom: 1rem;
    }

    .testimonial-name{
        font-size: 0.875rem;
    }

    .testimonial-text {
        font-size: 0.875rem;
    }
}